/*----------------------------------------------------------------*\
		CUSTOMIZED COLOR PALETTE
\*----------------------------------------------------------------*/
.has-black-background-color {
	background-color: var(--Black);
}

.has-black-color {
	color: var(--Black);
}

.has-dark-grey-background-color {
	background-color: var(--GreyDark);
}

.has-dark-grey-color {
	color: var(--GreyDark);
}

.has-grey-background-color {
	background-color: var(--MossLight);
}

.has-grey-color {
	color: var(--MossLight);
}

.has-light-grey-background-color {
	background-color: var(--GreyLight);
}

.has-light-grey-color {
	color: var(--GreyLight);
}

.has-white-background-color {
	background-color: var(--White);
}

.has-white-color {
	color: var(--White);
}

.has-brown-background-color {
	background-color: var(--Brown);
}

.has-brown-color {
	color: var(--Brown);
}

.has-light-brown-background-color {
	background-color: var(--BrownLight);
}

.has-light-brown-color {
	color: var(--BrownLight);
}

/*----------------------------------------------------------------*\
		CUSTOMIZED FONT SIZES
\*----------------------------------------------------------------*/
.has-small-font-size {
	font-size: 14px;
}

.has-regular-font-size {
	font-size: 18px;
}

.has-medium-font-size {
	font-size: 26px;
}

.has-large-font-size {
	font-size: 34px;
}



/*----------------------------------------------------------------*\
		WP Default Blocks
\*----------------------------------------------------------------*/
article {

	& .intro-text {
		font-family: 'RobotoCondensed';
	}

	& .wp-block-button {
		margin-top: 1.5em;
	}

	& .wp-block-cover {
		margin: 4em 0;
	}

	& .wp-block-pullquote {
		padding: 0;
		margin: 3em 0;

		& blockquote {
			border-left: 0;
			border-top: 3px solid var(--Moss);
			border-bottom: 3px solid var(--Moss);
			padding: 2.5em 1em;

			@media(--phone) {
				padding: 4em 1em;
			}

			& p {
				font-size: 24px;

				@media(--phone) {
					font-size: 28px;
				}
			}

			& cite {
				text-transform: uppercase;
				font-style: normal;
			}
		}
	}

	& .wp-block-image {

		& img {
			display: block;
			box-shadow: 0px 30px 90px var(--Grey);
			margin: 45px auto;
		}

		&.no-shadow img {
			box-shadow: none;
		}

		& figcaption {
			background: transparent;
			z-index: 2;
			width: auto;
			padding: 0;
			font-size: 14px;
			line-height: 1.5;
			color: var(--GreyDark);
			text-align: center;
			display: inline-block;
			min-width: 800px;
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			top: -25px;
			margin: 0;
		}
	}

	& .wp-block-gallery {
		margin: 4em 0 0 0;

		& .blocks-gallery-image,
		& .blocks-gallery-item {
			width: calc(100% - 75px);
			margin: 0 0 40px 0;

			@media(--phone) {
				width: calc((100% - 75px)/ 2);
				margin: 0 75px 75px 0;
			}

			&:before {
				display: none;
			}

			& figure img {
				box-shadow: 0px 30px 90px var(--Grey);
			}

			& figure figcaption {
				background: rgba(74, 74, 74, .9);
				z-index: 2;
				position: absolute;
				bottom: 0;
				left: 14px;
				right: 14px;
				width: auto;
				padding: 10px;
				font-size: 14px;
				line-height: 1.5;
				text-align: left;
			}
		}
	}

	& .wp-block-media-text {
		margin: 6em 0;
		align-items: flex-start;
		display: block;
		grid-template-columns: auto 65%;

		&.has-media-on-the-right {
			grid-template-columns: 65% auto;
		}

		@media(--tablet) {
			display: grid;
		}

		& .wp-block-media-text__content {
			&>*:first-child {
				margin-top: 0;
			}

			&>*:last-child {
				margin-bottom: 0;
			}

			& img {
				width: 100% !important;
				height: auto;
			}
		}

		& figure {
			margin-bottom: 1em !important;
			padding: 2em;

			@media(--phone) {
				margin: 0 !important;
			}

			@media(--tablet) {
				padding: 0;
				position: sticky;
				top: 75px;
			}
		}
	}

	& .wp-block-separator.is-style-dots::before {
		font-size: 50px;
		letter-spacing: 1em;
	}

	& .wp-block-embed {
		margin: 5em 0;
	}

	& .wp-block-embed-youtube,
	& .wp-block-embed-vimeo {
		width: 90%;
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;

		& iframe {
			width: 100%;
			height: 225px;
			box-shadow: 0px 30px 90px var(--Grey);

			@media(--phone) {
				height: 400px;
			}
		}
	}

	& .wp-block-embed-vimeo iframe {
		box-shadow: none;
	}

	& .wp-block-file {
		margin: 3em 0;

		& a {
			font-size: inherit;
			font-family: 'RobotoSlab Bold';
			color: var(--Brown);
			text-decoration: none;

			&:hover,
			&:focus {
				text-decoration: underline;
			}

			&.wp-block-file__button {
				border: 2px solid var(--BrownLight);
				background-color: var(--BrownLight);
				text-transform: uppercase;
				font-size: 18px;
				font-family: 'RobotoCondensed';
				font-style: normal;
				transition: all .35s linear;

				&:hover,
				&:focus {
					border-color: var(--Brown);
					background-color: var(--Brown);
				}
			}
		}
	}

	/* WIDTH OVERDIES ~ must stay at the end fo file */

	& .has-large-width {
		width: 90vw;
		max-width: 1200px;
		margin-left: auto !important;
		margin-right: auto !important;
		position: relative;
		z-index: 3;

	}

	& .has-normal-width {
		width: 90vw;
		max-width: 960px;
		margin-left: auto !important;
		margin-right: auto !important;
		position: relative;
		z-index: 3;
	}

	& .has-small-width {
		width: 90vw;
		max-width: 800px;
		margin-left: auto !important;
		margin-right: auto !important;
		position: relative;
		z-index: 3;
	}
}