/*----------------------------------------------------------------*\
		BUTTONS
\*----------------------------------------------------------------*/
.wp-block-button__link {
  display: inline-block;
  padding: 0.5em 1.1em;
  outline: none;
  border-radius: 4px !important;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 16px;
  font-family: 'RobotoCondensed';
  cursor: pointer;
  transition: all 0.35s linear;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.75;
  }
}

button,
.button,
#menu-primary-right .menu-donate a {
  display: inline-block;
  margin: 0.25em 0.25em 0.25em 0;
  padding: 0.5em 1.1em;
  outline: none;
  border: 2px solid var(--BrownLight);
  border-radius: 4px;
  background-color: var(--BrownLight);
  color: var(--GreyDark);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-family: 'RobotoCondensed Bold';
  cursor: pointer;
  transition: all 0.35s linear;

  &:hover,
  &:focus {
    border-color: var(--Brown);
    background-color: var(--Brown);
    color: var(--White);
  }

  &:active {
    border-color: var(--Brown);
    background-color: var(--Brown);
    color: var(--White);
  }

  &.load-more {
    display: none;
    margin: var(--SmallSpacing) auto;
  }
}

#menu-primary-right .menu-donate a {
  margin: 0 0 0 0.5em;
}

/*----------------------------------------------------------------*\
		ICON MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
  &.has-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    & img,
    & svg {
      display: inline-block;
      margin-right: 4px;
      width: auto;
      height: 20px;
    }
  }
}

/*----------------------------------------------------------------*\
		COLOR MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
  &.is-black {
    border-color: var(--GreyDark);
    background-color: var(--GreyDark);
    color: var(--Sand);

    &:hover,
    &:focus {
      border-color: var(--Black);
      background-color: var(--Black);
      color: var(--Sand);
    }

    &:active {
      border-color: var(--Black);
      background-color: var(--Black);
      color: var(--Sand);
    }
  }

  &.is-moss {
    border-color: var(--MossLight);
    background-color: var(--MossLight);
    color: var(--GreyDark);

    &:hover,
    &:focus {
      border-color: var(--Moss);
      background-color: var(--Moss);
      color: var(--GreyDark);
    }

    &:active {
      border-color: var(--Moss);
      background-color: var(--Moss);
      color: var(--GreyDark);
    }
  }

  /* add additional colors by adding variables first */
}

/*----------------------------------------------------------------*\
		SIZE MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
  &.is-small {
    padding: 0.25em 0.75em;
    font-size: 0.875em;
  }

  &.is-large {
    padding: 1em 1.875em;
    font-size: 1.25em;
  }
}

/*----------------------------------------------------------------*\
		FLUID MODIFIER
\*----------------------------------------------------------------*/

button,
.button {
  &.is-fluid {
    margin: 0;
    width: 100%;
  }
}

/*----------------------------------------------------------------*\
		GROUPED BUTTONS
\*----------------------------------------------------------------*/

.buttons {
  & button,
  & .button {
    margin-top: 0;
    margin-bottom: 0;
  }

  &.are-grouped {
    display: flex;

    & button,
    & .button {
      flex: 1;
      margin-right: 0;
      white-space: nowrap;

      &:first-child {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }

      &:last-child {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
  }
}

/*----------------------------------------------------------------*\
		BACK TO TOP
\*----------------------------------------------------------------*/
#back-to-top {
  position: fixed;
  right: 25px;
  bottom: 50px;
  z-index: -10;
  display: block;
  padding: 0;
  width: 100px;
  border: none;
  background-color: transparent;
  text-align: center;
  font-size: 0.75em;
  opacity: 0;
  transition: all 0.35s linear;

  &:hover,
  &:focus {
    color: var(--GreyDark);

    & svg {
      margin: 0 auto 16px auto;
    }
  }

  &.show {
    z-index: 99;
    opacity: 1;
  }

  & svg {
    display: block;
    margin: 0 auto 5px auto;
    width: 30px;
    transition: all 0.35s linear;
  }
}
