/*----------------------------------------------------------------*\
		FORMS
\*----------------------------------------------------------------*/

form {
	max-width: var(--SmallWidth);
	width: 100%;
	margin: 4em auto;

	& button,
	& .button {
		margin: 0;
	}

	& ul {
		list-style: none;
		margin: 0;
		padding: 0;

		&.gfield_checkbox li,
		&.gfield_radio li {
			margin: 0;
			width: auto;
		}
	}

	& li {
		display: inline-block;
		float: left;
		width: 100%;
		margin-bottom: .5em;
		line-height: 1.5;
		color: var(--Black);

		&:before {
			display: none;
		}

		&.hidden_label {
			&>label {
				display: none;
			}
		}

		&.are-stacked li {
			display: block;
			float: none;
		}

		&.half {
			width: 100%;
			margin-left: 0;
			margin-right: 0;

			@media(--tablet) {
				width: 49%;
				margin-right: 1%;

				&.last {
					margin-right: 0;
					margin-left: 1%;
				}
			}
		}

		&.third {
			width: 100%;
			margin-left: 0;
			margin-right: 0;

			@media(--tablet) {
				width: 32.33%;
				margin: 0 .5%;

				&.first {
					margin-left: 0;
					margin-right: 1%;
				}

				&.last {
					margin-right: 0;
					margin-left: 1%;
				}
			}
		}
	}
}

.validation_message {
	display: none;
}

.gfield_visibility_hidden {
	max-height: 0;
	margin: 0;
	overflow: hidden;
}

.gform_footer {
	clear: both;
}

/*---------------------------------------*\
    LABELS
\*---------------------------------------*/

label {
	display: inline-block;
	padding: .5em 0;
	font-size: 14px;
	font-family: 'RobotoSlab';
	color: var(--Black);
	position: relative;

	&::before {
		content: "(optional)";
		position: absolute;
		font-size: .7em;
		font-family: 'RobotoSlab Bold';
		top: 50%;
		left: calc(100% + 6px);
		transform: translateY(-35%);
	}
}

li.gfield_error>label {
	color: #f92e47;
}

li.gfield_contains_required {

	&>label::before,
	& .gfield_required {
		display: none;
	}
}

.ginput_container label,
.charleft,
input[type="file"]+span {
	font-size: .75rem;
	margin-bottom: .5rem;

	&::before {
		display: none;
	}
}

/*---------------------------------------*\
    INPUTS
\*---------------------------------------*/

input {
	font-family: 'RobotoSlab';
	border: 1px solid var(--Sand);
	color: var(--Black);
	width: 100%;
	padding: .875em;
	background-color: var(--Sand);
	background-position: center right 1em;
	background-repeat: no-repeat;
	background-size: 1.25em;

	&:focus {
		outline: none;
		border-color: var(--Brown);
	}

	&.is-activated,
	&.LV_valid_field {
		/* valid styles */
	}

	&.LV_invalid_field {
		background-image: url(../images/input_error.svg);
		border-color: #f92e47;
	}
}

/*---------------------------------------*\ 
FILE UPLOAD 
\*---------------------------------------*/

input[type="file"] {
	color: transparent;
	border: none;
	background-color: transparent;
	padding-left: 0;
}

input[type="file"]::-webkit-file-upload-button {
	visibility: hidden;
}

input[type="file"]::before {
	content: "Upload File";
	display: inline-block;
	border: 1px solid var(--GreyDark);
	background-color: transparent;
	color: var(--GreyDark);
	font-family: 'RobotoCondensed';
	font-style: normal;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: .5px;
	padding: .75em 1.25em;
	cursor: pointer;
	border-radius: 3px;
	outline: 0;
	white-space: nowrap;
	-webkit-user-select: none;
	cursor: pointer;
}

input[type="file"].file-uploaded::before {
	content: "Change File";
	border-color: var(--BrownLight);
	background-color: var(--BrownLight);
	color: var(--Black);
}

input[type="file"]+span {
	color: var(--Black);
}

/*---------------------------------------*\
    RADIO / CHECKBOXES
\*---------------------------------------*/

ul.gfield_checkbox li,
ul.gfield_radio li {
	display: flex;
}

li.grey-font li label {
	color: var(--Black);
	font-size: 16px;
}

input[type="radio"] {
	min-width: 18px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin: .8em .5em 2px 1em;
	vertical-align: top;
	appearance: none;

	&:checked {
		background-color: var(--Brown);
		border-color: var(--Brown);
	}

	&+label {
		display: inline-block;
		font-size: 1rem;
		margin: 0;
		max-width: 90%;

		&::before {
			display: none;
		}
	}
}

input[type="checkbox"] {
	min-width: 18px;
	width: 18px;
	height: 18px;
	border-radius: 4px;
	margin: .8em .5em 2px 1em;
	vertical-align: top;
	appearance: none;

	&:checked {
		background-color: var(--Brown);
		border-color: var(--Brown);
	}

	&+label {
		display: inline-block;
		font-size: 1rem;
		margin: 0;
		max-width: 90%;

		&::before {
			display: none;
		}
	}
}

/*---------------------------------------*\
    SELECT
\*---------------------------------------*/

select {
	font-family: 'RobotoSlab';
	border: 1px solid var(--Sand);
	padding: .875em;
	padding-right: calc(.5em + 20px);
	width: 100%;
	appearance: none;
	background-color: var(--Sand);
	background-image: url(../images/select_arrow.svg);
	background-repeat: no-repeat;
	background-position: center right .5em;
	background-size: 1.25em;

	&:focus {
		outline: none;
		border-color: var(--Brown);
	}

	&.is-activated,
	&.LV_valid_field {
		/* valid styles */
	}

	&.LV_invalid_field {
		background-image: url(../images/input_error.svg);
		border-color: #f92e47;
	}
}

/*---------------------------------------*\
    TEXTAREA
\*---------------------------------------*/

textarea {
	font-family: 'RobotoSlab';
	border: 1px solid var(--Sand);
	padding: .875em;
	width: 100%;
	background-color: var(--Sand);
	background-position: center right 1em;
	background-repeat: no-repeat;
	background-size: 1.25em;

	&:focus {
		outline: none;
		border-color: var(--Brown);
	}

	&.is-activated,
	&.LV_valid_field {
		/* valid styles */
	}

	&.LV_invalid_field {
		background-image: url(../images/input_error.svg);
		border-color: #f92e47;
	}
}

/*---------------------------------------*\
    NAME
\*---------------------------------------*/

.ginput_container_name {
	display: flex;
	flex-wrap: wrap;

	&>span {
		width: 100%;
		margin-left: 0;
		margin-right: 0;

		@media(--tablet) {
			width: 49%;
			margin-right: 1%;

			&.name_last {
				margin-right: 0;
				margin-left: 1%;
			}
		}
	}
}

/*---------------------------------------*\
    ADDRESS
\*---------------------------------------*/

.ginput_container_address {
	display: flex;
	flex-wrap: wrap;

	& .address_line_1,
	& .address_line_2 {
		width: 100%;
	}

	& .address_city,
	& .address_state,
	& .address_zip {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	@media(--tablet) {

		& .address_city,
		& .address_state,
		& .address_zip {
			width: 32.33%;
			margin: 0 .5%;
		}

		& .address_city {
			margin-left: 0;
			margin-right: 1%;
		}

		& .address_zip {
			margin-right: 0;
			margin-left: 1%;
		}
	}
}

/*---------------------------------------*\
    TIME
\*---------------------------------------*/

.clear-multi::after {
	content: '';
	clear: both;
	display: block;
}

.gfield_time_hour {
	width: calc(33% - .5em);
	margin-right: .5em;
	float: left;

	& i {
		display: none;
	}

	& label {
		padding: 0;
		margin: 0;
	}
}

.gfield_time_minute {
	width: calc(33% - .5em);
	margin-right: .5em;
	float: left;

	& label {
		padding: 0;
		margin: 0;
	}
}

.gfield_time_ampm {
	width: 33%;
	float: left;
}

/*---------------------------------------*\
    DATEPICKER
\*---------------------------------------*/

#ui-datepicker-div {
	background: var(--Sand);
	border: 1px solid var(--GreyDark);
	border-radius: 4px;
	box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
	display: none;
	padding: 20px;
	width: 325px;

	& .ui-icon {
		color: transparent;
		cursor: pointer;
		font-size: 0px;
	}

	& .ui-icon:before {
		color: var(--Brown);
		font-size: 18px;
	}

	& .ui-datepicker-prev {
		float: left;
		width: 10%;
		line-height: 30px;

		& .ui-icon:before {
			content: '<';
		}

		&.ui-state-disabled {
			display: none;
		}
	}

	& .ui-datepicker-next {
		float: right;
		width: 10%;
		line-height: 30px;

		& .ui-icon:before {
			content: '>';
			float: right;
		}

		&.ui-state-disabled {
			display: none;
		}
	}

	& .ui-datepicker-title {
		display: flex;

		& select {
			width: 100%;
			padding: 2px;
			margin: 0 1px 10px 1px;
		}
	}

	& .ui-datepicker-today {
		background-color: var(--Brown);
		border-radius: 4px;

		& a {
			color: #FFF;
		}
	}

	& table {
		width: 100%;

		& td,
		& th {
			text-align: center;
		}

		& td {
			& a {
				text-decoration: none;
				color: var(--Black);
				display: block;
				padding: 5px;
			}
		}
	}
}

/*---------------------------------------*\
    PAYMENT
\*---------------------------------------*/

.gfield.credit-card>label {
	position: initial;
}

.ginput_container_creditcard {

	& input.is-activated,
	& input.LV_valid_field {
		background-image: none;
	}

	& .gform_card_icon_container {
		display: none;
		flex-wrap: wrap;

		& .gform_card_icon {
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 1.5rem;
			width: 35px;
			height: 35px;
			margin: 0 .5rem 0 0;
			text-indent: -100000px;
			overflow: hidden;
		}

		& .gform_card_icon_amex {
			background-image: url('../images/CC-american-express.svg');
		}

		& .gform_card_icon_discover {
			background-image: url('../images/CC-discover.svg');
		}

		& .gform_card_icon_mastercard {
			background-image: url('../images/CC-mastercard.svg');
		}

		& .gform_card_icon_visa {
			background-image: url('../images/CC-visa.svg');
		}

		& .gform_card_icon_jcb {
			background-image: url('../images/CC-jcb.svg');
		}
	}

	& .ginput_cardextras {
		display: flex;
		flex-wrap: wrap;
	}

	& .ginput_cardinfo_left {
		width: 66%;

		& .ginput_card_field {
			display: flex;
			flex-wrap: wrap;

			& select {
				width: calc(50% - 1em);
				margin: 0 1em 0 0;
			}

			& label {
				width: 100%;
			}
		}
	}

	& .ginput_cardinfo_right {
		width: 33%;
		display: flex;
		flex-wrap: wrap;

		& input {
			width: calc(100% - 1em);
			margin: 0 1em 0 0;
		}

		& span {
			display: none;
		}

		& label {
			width: 100%;
		}
	}
}

.ginput_container_creditcard label {
	font-size: 10px;
	line-height: 10px;
}

.ginput_container_creditcard input+label {
	top: -5px;
}

.ginput_container_creditcard .StripeElement {
    background-color: var(--Sand);
}

#field_4_15 {
	margin-bottom: 2em;
}

/*---------------------------------------*\
    PAYMENT FIELDS
\*---------------------------------------*/
li.gfield_total label::before {
	display: none;
}

li.gfield_total .ginput_container_total {
	display: inline-block;
	font-size: 1.25em;
	margin-left: .5em;
	color: var(--Brown);
}

li.gfield_calculation .ginput_container {
	display: inline-block;
	padding: .5em 0;
	font-size: 14px;
	font-family: RobotoSlab;
	position: relative;
	margin: 0 0 0 1em;
}