/*----------------------------------------------------------------*\
		TABLES
\*----------------------------------------------------------------*/

table {
	width: 100%;
	border-collapse: collapse;
	text-align: left;

	& tr {
		background-color: var(--White);

		& th,
		& td {
			border: 1px solid var(--Black);
			padding: .5em .25em;
		}

		& th {
			font-family: 'RobotoCondensed';
			line-height: 2;
		}

		& td {
			font-family: 'RobotoSlab';
		}
	}
}