/*----------------------------------------------------------------*\
		FONTS
\*----------------------------------------------------------------*/

@font-face {
	font-family: 'RobotoCondensed Bold';
	src: url('../fonts/RobotoCondensed-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'RobotoCondensed';
	src: url('../fonts/RobotoCondensed-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'RobotoSlab Bold';
	src: url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'RobotoSlab';
	src: url('../fonts/RobotoSlab-Regular.ttf') format('truetype');
}

/*----------------------------------------------------------------*\
		HEADERS
\*----------------------------------------------------------------*/

h1,
h2,
h3,
h4 {
	margin: 1em 0 0.5em 0;
	text-transform: uppercase;
	font-weight: normal;
	font-family: 'RobotoCondensed Bold';
}

h1 {
	font-size: 50px;

	@media(--phone) {
		font-size: 72px;
	}

	&+h2 {
		margin-top: -24px;
		color: var(--Brown);
		text-transform: none;
		font-size: 34px;
		font-family: 'RobotoCondensed';
		line-height: 1.35;
	}
}

h2 {
	font-size: 35px;

	@media(--phone) {
		font-size: 45px;
	}

	&+h3 {
		margin-top: -14px;
		color: var(--Brown);
		color: var(--Moss);
		text-transform: none;
		font-size: 26px;
		font-family: 'RobotoCondensed';
		line-height: 1.35;
	}
}

h3 {
	margin: 1.5em 0 0.5em 0;
	font-size: 26px;

	@media(--phone) {
		font-size: 30px;
	}

	&+h4 {
		margin-top: -10px;
		color: var(--Brown);
		color: var(--Moss);
		text-transform: none;
		font-size: 18px;
		font-family: 'RobotoCondensed';
		line-height: 1.35;
	}
}

h4 {
	font-size: 18px;

	@media(--phone) {
		font-size: 20px;
	}
}

/*----------------------------------------------------------------*\
		BODY
\*----------------------------------------------------------------*/

hr {
	position: relative;
	margin: var(--LargeSpacing) auto;
	width: 60px;
	height: 50px;
	border: none;
	background-color: transparent;
	background-image: url(../images/wolf.svg);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;

	@media(--tablet) {
		width: 120px;
	}

	&::before {
		position: absolute;
		top: 23px;
		left: -80px;
		display: block;
		width: 60px;
		height: 3px;
		background-color: var(--Brown);
		content: '';

		@media(--tablet) {
			left: -200px;
			width: 180px;
		}
	}

	&::after {
		position: absolute;
		top: 23px;
		right: -80px;
		display: block;
		width: 60px;
		height: 3px;
		background-color: var(--Brown);
		content: '';

		@media(--tablet) {
			right: -200px;
			width: 180px;
		}
	}
}

p,
span,
time,
address,
nav,
ul {
	color: var(--Black);
	font-size: 1em;
	font-family: 'RobotoSlab';
	line-height: 1.5em;
}

p {
	margin: 1.5em 0;
	line-height: 1.75em;
}

strong,
b {
	font-family: 'RobotoSlab Bold';
}

p a,
li a {
	color: var(--Brown);
	text-decoration: none;
	font-size: inherit;
	font-family: 'RobotoSlab Bold';

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

/* p a[target=_blank],
li a[target=_blank] {
  &::before {
    position: relative;
    position: relative;
    top: 1px;
    display: inline-block;
    margin: 0 6px 0 0;
    width: 0.8em;
    height: 0.8em;
    background-image: url(../images/new-tab.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
  }
} */

ul.has-3-columns {
	column-count: 1;

	@media(--phone) {
		column-count: 2;
	}

	@media(--tablet) {
		column-count: 3;
	}
}

ul.has-2-columns {
	column-count: 1;

	@media(--phone) {
		column-count: 2;
	}
}

ul.has-no-bullets {
	padding: 0;

	& li {
		padding: 0;

		&::before {
			display: none;
		}
	}
}

ul {
	padding-left: 0;
}

ul li {
	position: relative;
	margin-bottom: 0.875em;
	color: var(--Brown);
	list-style-type: none;
	padding-left: 1em;

	&:before {
		position: absolute;
		top: 14px;
		left: 0;
		display: block;
		width: 6px;
		height: 2px;
		background-color: var(--Brown);
		content: '';
	}
}

/*----------------------------------------------------------------*\
		BLOCKQUOTE
\*----------------------------------------------------------------*/

blockquote {
	margin: var(--Spacing) auto;
	padding: 0 1em;
	width: 90%;
	border-left: 3px solid var(--Moss);

	&>*:first-child {
		margin-top: 0;
	}

	&>*:last-child {
		margin-bottom: 0;
	}

	& p {
		color: var(--Brown);
		font-size: 24px;
		line-height: 1.75;
	}

	& cite {
		color: var(--SandDark);
		font-size: 18px;
		font-family: 'RobotoCondensed';
	}
}

/*----------------------------------------------------------------*\
		CODE EXAMPLES
\*----------------------------------------------------------------*/

code {
	font-size: 0.875em;
}