section.crew-feed {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;

	& article {
		margin: 0 2.5% 2em 2.5%;
		width: 95%;

		@media(--phone) {
			width: 45%;
		}

		@media(--tablet) {
			width: 28%;
		}

		&>div {
			overflow: hidden;
			display: flex;
			justify-content: center;
			align-items: center;
			box-shadow: 0 28px 34px 0 rgba(69, 65, 72, 0.35);

			& img {
				width: 100%;
				height: auto;
				display: block;
			}
		}

		& h3 {
			font-size: 24px;
			margin: 1.15em 0 .35em;
		}
	}
}