/*----------------------------------------------------------------*\
	PAGE FOOTER
\*----------------------------------------------------------------*/

footer {
	width: 90vw;
	max-width: 1200px;
	background-color: var(--GreyDark);
	color: var(--White);
	margin: var(--LargeSpacing) auto 0 auto;
	padding: var(--Spacing) var(--SmallSpacing) var(--SmallSpacing) var(--SmallSpacing);
	font-size: .875em;
	position: relative;
	z-index: 3;

	&>section {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;

		&>div {
			width: 50%;
			padding: 0 .5em;
			margin-bottom: 1.5em;

			@media(--tablet) {
				width: 20%;
				margin-bottom: 0;
			}

			&:first-child,
			&:last-child {
				width: 100%;
				padding: 0 var(--Spacing);
				text-align: center;

				@media(--tablet) {
					width: 30%;
				}
			}

			&:first-child {
				text-align: center;

				@media(--tablet) {
					text-align: left;
				}
			}
		}

		& p {
			font-size: .875em;
			color: var(--GreyLight);
		}
	}

	& section.copyright {
		margin: 50px 0 0 0;
		padding: 0 3vw;
		display: flex;
		justify-content: center;

		@media(--tablet) {
			justify-content: space-between;
		}

		& p {
			margin: 0;
			font-size: .75em;
			line-height: 2;
			text-align: center;

			@media(--phone) {
				text-align: left;
			}
		}

		& nav {
			& ul {
				margin: 0;
				justify-content: center;

				@media(--phone) {
					justify-content: flex-end;
				}

				& li {
					margin: 0;
				}
			}

			& a {
				text-transform: none;
				font-family: 'RobotoSlab';
				font-size: .75em;
				letter-spacing: 0;
				padding: 0 6px;
			}
		}
	}

	& img {
		max-width: 200px !important;
		width: 100%;
	}

	& ul {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;

		@media(--tablet) {
			text-align: left;
		}

		& li {
			padding: 0;
			margin-bottom: 6px;

			&::before {
				display: none;
			}
		}
	}

	& a {
		padding: 0;
		font-family: 'RobotoCondensed Bold';
		font-size: .875em;
		text-transform: uppercase;
		text-decoration: none;
		line-height: 2;
		letter-spacing: 1px;
		color: var(--GreyLight);
		transition: all .35s linear;

		&:hover,
		&:focus {
			color: var(--BrownLight);
		}
	}
}

/*----------------------------------------------------------------*\
	E5 CREDIT
\*----------------------------------------------------------------*/
#element5-credit {
	height: 40px;
	width: auto;
	text-align: center;
	margin-top: 2em;

	@media(--tablet) {
		position: absolute;
		bottom: 10px;
		left: 50%;
		transform: translateX(-50%);
	}

	& img {
		height: 100%;
		width: auto;
	}
}

/*----------------------------------------------------------------*\
	FOOTER WITH FORM
\*----------------------------------------------------------------*/
.newsletter {
	background-image: url(../images/mountain-background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-attachment: fixed;
	padding: 100px 0 0 0;
	margin-top: -100px;

	@media(--tablet) {
		padding: 200px 0 0 0;
		background-position: center bottom -100px;
	}

	& .paper-container {
		width: 90vw;
		max-width: 600px;
		margin: 0 auto 100px auto;
		background-color: var(--White);
		padding: var(--SmallSpacing);
		box-shadow: 0 10px 16px 0 rgba(27, 23, 31, 0.5);
		position: relative;

		@media(--phone) {
			padding: var(--LargeSpacing);
		}

		&>svg:first-child,
		&>img:first-child {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			width: 80px;
			height: 80px;

			@media(--phone) {
				width: 150px;
				height: 150px;
			}
		}

		& h2 {
			font-size: 35px;
		}

		& form {
			margin: 2em auto 0 auto;

			& h3,
			& p {
				text-align: center;
				margin: 0 auto;
				max-width: 400px;
			}

			& h3 {
				line-height: 1.2;
			}

			& p {
				font-size: 16px;
				margin: 1em auto;

				@media(--phone) {
					font-size: 18px;
					margin: 0 auto;
				}
			}

			& ul::after {
				display: block;
				content: '';
				clear: both;
			}

			& .grey-font label {
				font-size: 14px;
			}

			& .gform_footer {
				text-align: center;
				margin-top: 30px;
			}
		}
	}
}