/*----------------------------------------------------------------*\
		GALLERIES
\*----------------------------------------------------------------*/

.gallery {
	width: 90%;
	max-width: var(--Width);
	margin: var(--LargeSpacing) auto;
	text-align: center;

	&>h2 {
		margin-top: 0;
	}
}

.gallery-items {
	width: 100%;
	margin: var(--Spacing) auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(47%, 1fr));
	grid-gap: 60px;

	& img {
		width: 100%;
		height: auto;
		display: block;
		box-shadow: 0px 30px 90px var(--Grey);
	}
}

.featherlight-content {
	min-width: 300px;
	min-height: 300px;

	& img {
		position: relative;
		z-index: 5;
	}

	& span {
		z-index: 10;
	}

	&::after {
		content: '';
		width: 120px;
		height: 120px;
		position: absolute;
		top: calc(50% - 60px);
		left: calc(50% - 60px);
		background-image: url(../images/loading.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		animation: rotation 2s infinite linear;
	}
}