/*----------------------------------------------------------------*\
	PAGE TITLES
\*----------------------------------------------------------------*/

header.page-title {
	width: 100%;
	height: auto;
	padding: 0 18px;
	align-items: center;
	display: flex;
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	&.has-image {
		min-height: 500px;

		&>section {
			margin: 140px auto 0;

			&>p:first-child {
				color: var(--White);
			}

			& h1 {
				color: var(--White);

				&+p {
					color: var(--White);
				}
			}
		}
	}

	&>section {
		position: relative;
		width: 100%;
		max-width: var(--Width);
		margin: 250px auto 0 auto;
		z-index: 3;

		&>p:first-child {
			color: var(--Brown);
			text-align: center;
			margin: 0 0 .5em 0;
		}

		& h1 {
			margin: 0 auto;
			color: var(--Brown);
			text-align: center;

			&+p {
				margin: 2em 0 0 0;
				color: var(--Black);
			}
		}
	}

	& .overlay {
		position: absolute;
		z-index: 2;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: var(--Black);
		opacity: .3;
	}
}

/*----------------------------------------------------------------*\
	VIDEO PAGE TITLES
\*----------------------------------------------------------------*/

header.page-title {
	&.has-video {
		min-height: 60vh;
		overflow: hidden;
		color: var(--White);
		min-height: 500px;

		& .overlay {
			position: absolute;
			z-index: 2;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: var(--Black);
			opacity: .3;
		}

		& video {
			position: absolute;
			top: 0;
			left: 0;
			min-width: 100%;
			width: auto;
			height: auto;
		}
	}
}

/*----------------------------------------------------------------*\
	HOME PAGE
\*----------------------------------------------------------------*/
body.home header.page-title {
	text-align: center;

	&.has-image {
		min-height: 85vh;
	}

	& h1 {
		font-size: 60px;

		@media(--phone) {
			font-size: 80px;
		}

		@media(--tablet) {
			font-size: 100px;
		}
	}

	& p {
		margin: 0 0 .5em 0;
		font-family: RobotoCondensed;
		font-size: 30px;
		line-height: 1.25;

		@media(--phone) {
			font-size: 24px;
		}

		@media(--tablet) {
			font-size: 30px;
		}
	}
}

/*----------------------------------------------------------------*\
	SEARCH RESULTS
\*----------------------------------------------------------------*/
body.search-results header.page-title,
body.search-no-results header.page-title {
	& h1 {
		color: var(--GreyDark);
		font-size: 55px;
		margin-bottom: 20px;
	}

	& form {
		margin: 0 auto 40px auto;
		position: relative;

		& label {
			display: none;
		}

		& button {
			position: absolute;
			top: 0;
			right: 8px;
			padding: 0;
			background-color: transparent;
			border-color: transparent;

			& svg {
				fill: var(--Brown);
				width: 24px;
				height: 48px;
			}
		}
	}
}