/*----------------------------------------------------------------*\
	HELP OUT SECTION
\*----------------------------------------------------------------*/
section.help-out {
	margin: 50px auto;
	padding: 3em 18px;
	position: relative;
	z-index: 3;
	background-image: url(../images/help-bg-400.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	@media(--phone) {
		margin: 100px auto;
	}

	&>h2 {
		width: 100%;
		margin: 0 0 1em 0;
		text-align: center;
	}

	&>div {
		width: 90vw;
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		position: relative;

		&>div {
			width: 100%;
			max-width: 500px;
			text-align: center;
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;

			&:first-child {
				margin-bottom: 50px;
			}

			@media(--phone) {
				width: 45%;

				&:first-child {
					margin-bottom: 0;

					&::after {
						content: '';
						display: block;
						position: absolute;
						right: calc(50% - 1px);
						top: 20%;
						height: 70%;
						width: 2px;
						background-color: var(--BrownLight);
					}
				}
			}

			& div,
			& h3,
			& p {
				width: 100%;
			}

			& img {
				border-radius: 50%;
				max-width: 80%;
			}

			& p {
				flex: 1;
			}
		}
	}


	@media(--phone) {
		background-image: url(../images/help-bg-800.jpg);
	}

	@media(--tablet) {
		background-image: url(../images/help-bg-1024.jpg);
	}

	@media(--laptop) {
		background-image: url(../images/help-bg-1300.jpg);
	}

	@media(--desktop) {
		background-image: url(../images/help-bg.jpg);
	}
}