/*----------------------------------------------------------------*\
	MEDIA + TEXT
\*----------------------------------------------------------------*/
section.media-text {
	margin: 4em auto;
	display: block;
	grid-template-rows: auto;
	align-items: center;
	grid-template-columns: 50% auto;

	&.media-left {
		grid-template-areas: "media-text-media media-text-content";
	}

	&.media-right {
		grid-template-areas: "media-text-content media-text-media";
	}

	@media(--tablet) {
		display: grid;
	}

	& figure {
		grid-area: media-text-media;
		padding: 75px;
		margin: 0;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;

		& img {
			display: block;
			box-shadow: 0 18px 50px 0 rgba(69, 65, 72, .35);
		}
	}

	& div {
		grid-area: media-text-content;
		padding: 0 8% 0 8%;
	}
}