section.packs-feed {
	background-color: var(--Sand);
	padding: 4em 18px;
	margin: 4em 0;

	& h2 {
		text-align: center;
		font-size: 50px;
		line-height: 1;
		margin: 0 auto 40px auto;
		max-width: 1200px;

		@media(--tablet) {
			font-size: 72px;
			margin: 0 auto 10px auto;
		}
	}

	& p {
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}

	& .key {
		display: flex;
		justify-content: center;
		align-items: center;

		&>div {
			font-family: 'RobotoSlab';
			font-size: 1em;
			line-height: 1.5em;
			margin: 0 1em 1em 1em;

			&:first-of-type svg {
				fill: var(--GreyDark);
			}

			&:last-of-type svg {
				fill: var(--BrownLight);
			}
		}

		& svg {
			display: inline-block;
			height: 30px;
			width: 55px;
			position: relative;
			top: 8px;
			fill: var(--Grey);
		}
	}

	& .packs {
		width: 100%;
		max-width: 1200px;
		margin: 1em auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;

		& article {
			background-color: var(--White);
			box-shadow: 0 28px 34px 0 rgba(69, 65, 72, 0.35);
			padding: 1em;
			width: 95%;
			margin: 0 2.5% 3em 2.5%;

			@media(--tablet) {
				width: 45%;
			}

			& h3 {
				margin: 0 0 4px 0;
			}

			& p {
				margin: 0 0 10px;
				font-size: 16px;
				line-height: 1.3;
				min-height: 40px;
			}

			&>div {

				&.black svg {
					fill: var(--GreyDark);
				}

				&.gray svg {
					fill: var(--Grey);
				}

				&.unknown svg {
					fill: var(--BrownLight);
				}

				&.black,
				&.gray,
				&.unknown {
					width: 33%;
					float: left;
					text-align: center;
					margin-bottom: 1.5em;

					& span {
						display: block;
						font-size: 80px;
						font-family: RobotoCondensed Bold;
						font-weight: 400;
						text-transform: uppercase;
						line-height: .85;
					}

					& svg {
						width: 100px;
						height: 80px;
					}
				}
			}

			& .pups,
			& .yearlings {
				clear: both;
				width: 100%;
				min-height: 55px;
				font-family: RobotoCondensed Bold;
				font-weight: 400;
				text-transform: uppercase;
				padding-left: 47px;
				position: relative;

				& span {
					font-family: RobotoCondensed Bold;
					font-weight: 400;
					text-transform: uppercase;
					color: var(--Brown);
					margin-left: 6px;

					&:first-child {
						color: var(--Black);
						position: absolute;
						top: 0;
						left: 0;
						margin: 0;
					}
				}

				& svg {
					width: 47px;
					height: 23px;

					&.black {
						fill: var(--GreyDark);
					}

					&.gray {
						fill: var(--Grey);
					}

					&.unknown {
						fill: var(--BrownLight);
					}
				}
			}

			& .yearlings {
				padding-left: 92px;
			}
		}

		& .more {
			padding: 2em;
			width: 95%;
			margin: 0 2.5% 0 2.5%;
			position: relative;

			@media(--tablet) {
				width: 61%;
				padding: 3em;
				margin: 0 2.5% 3em 2.5%;
			}

			&::after {
				display: block;
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-image: url(../images/more-background.png);
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				opacity: .5;
			}

			& h3 {
				margin: 0 0 .25em 0;
				font-size: 40px;
			}

			& a {
				position: relative;
				z-index: 1;
			}
		}
	}
}