/*----------------------------------------------------------------*\
	RELATED POSTS
\*----------------------------------------------------------------*/
section.related-posts {
	width: 90vw;
	max-width: 1200px;
	margin-left: auto !important;
	margin-right: auto !important;
	position: relative;
	z-index: 3;
	margin: 4em auto 0 auto;

	& h3 {
		text-align: center;
	}

	&>div {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
		margin: 3em auto 0 auto;
	}
}