/*----------------------------------------------------------------*\

		PROCESSOR: POSTCSS
			http://postcss.org/
		SYNTAX: CSSNEXT
			http://cssnext.io/
		NAMING CONVENTIONS: MODULAR CSS with lower-case-hyphenated
			http://thesassway.com/advanced/modular-css-naming-conventions
		CSSSTYLE: TABS
			http://www.sublimetext.com/docs/indentation
		CSS BASE: NORMALIZE
			https://necolas.github.io/normalize.css/
		FRAMEWORK: CSS GRID & FLEXBOX
			https://css-tricks.com/snippets/css/complete-guide-grid/
			https://css-tricks.com/snippets/css/a-guide-to-flexbox/

\*----------------------------------------------------------------*/

/*----------------------------------------------------------------*\
		VARIABLES
\*----------------------------------------------------------------*/

:root {
	/* SIZING */
	--SmallWidth: 800px;
	--Width: 960px;
	--LargeWidth: 1200px;
	--LargeSpacing: 4em;
	--Spacing: 2em;
	--SmallSpacing: 1.5em;
	/* COLORS */
	--White: #FFFFFF;
	--GreyLight: #E8E8EF;
	--Grey: #B3B3C5;
	--GreyDark: #4A4A4A;
	--Black: #1B171F;
	--Brown: #905D30;
	--BrownLight: #CAA07C;
	--Sand: #EBE3D8;
	--SandDark: #BFAE96;
	--MossLight: #C9C7B9;
	--Moss: #98947B;
}

/*----------------------------------------------------------------*\
		MEDIA QUERIES IN CORRECT ORDER
\*----------------------------------------------------------------*/

@custom-media --phone (min-width: 500px);
@custom-media --phonewide (min-width: 700px);
@custom-media --tablet (min-width: 800px);
@custom-media --laptop (min-width: 1050px);
@custom-media --desktop (min-width: 1200px);

div {
	@media(--phone) {
		box-sizing: inherit;
	}

	@media(--phonewide) {
		box-sizing: inherit;
	}

	@media(--tablet) {
		box-sizing: inherit;
	}

	@media(--laptop) {
		box-sizing: inherit;
	}

	@media(--desktop) {
		box-sizing: inherit;
	}
}

/*----------------------------------------------------------------*\
		UNIVERSAL
\*----------------------------------------------------------------*/

html {
	box-sizing: border-box;
	font-size: 18px;
	background: var(--White);
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

#wpadminbar {
	top: 5px !important;
	left: 50% !important;
	transform: translateX(-50%) !important;
}

#wpadminbar #wp-admin-bar-customize,
#wpadminbar #wp-admin-bar-autoptimize,
#wpadminbar #wp-admin-bar-gform-forms {
	display: none;
}

#wpadminbar ul li {
	margin: 0 5px !important;
}

/*----------------------------------------------------------------*\
		MAIN
\*----------------------------------------------------------------*/
main {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;

	&.aside-both,
	&.aside-left,
	&.aside-right {
		max-width: var(--LargeWidth);
		margin: 0 auto;
	}

	&>article {
		width: 100%;
		order: 0;

		@media(--tablet) {
			order: 2;

			&:first-child,
			&:last-child {
				width: calc(100% - 375px);
			}

			&.aside-both,
			&:only-child {
				order: 0;
				width: 100%;
			}

		}

		@media(--laptop) {
			&.aside-both {
				width: calc(100% - 750px);
				order: 2;
			}
		}
	}

	&>aside {
		width: 350px;
		background-color: var(--Grey);
		padding: var(--SmallSpacing);
		margin: var(--Spacing) auto;

		@media(--tablet) {
			&.is-left {
				margin-right: 25px;
				order: 1;
			}

			&.is-right {
				margin-left: 25px;
				order: 3;
			}
		}

		& .widget {
			margin-bottom: var(--SmallSpacing);

			&:last-of-type {
				margin-bottom: 0;
			}

			&>*:first-child {
				margin-top: 0;
			}

			&>*:last-child {
				margin-bottom: 0;
			}
		}
	}
}

/*----------------------------------------------------------------*\
		ARTICLE
\*----------------------------------------------------------------*/
article {
	width: 100%;
	height: auto;
	margin: var(--Spacing) auto;
	position: relative;

	&>*:first-child {
		margin-top: 0 !important;
	}

	&>*:last-child {
		margin-bottom: 0 !important;
	}

	& iframe {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	& img {
		max-width: 100%;
		height: auto;

		&.alignleft {
			float: left;
			margin: 1em 1em 1em 0;
		}

		&.alignright {
			float: right;
			margin: 1em 0 1em 1em;
		}

		&.aligncenter {
			display: block;
			margin: 1em auto;
		}
	}
}