/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE WORDPRESS ARCHIVES TEMPLATE

\*----------------------------------------------------------------*/

.feed {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	max-width: var(--LargeWidth);

	&>h3 {
		width: 100%;
		text-align: center;
		margin: 1em 0 1.5em;
	}
}

/*----------------------------------------------------------------*\
	INFINITE SCROLL
\*----------------------------------------------------------------*/

.page-load-status,
.navigation.pagination {
	display: none;
	text-align: center;
}

.infinite-scroll {
	margin-top: 100px;
}

/*----------------------------------------------------------------*\
	BLOG
\*----------------------------------------------------------------*/
.feed-blog h3 {
	margin: 3em 0 0 0;

	@media(--tablet) {
		margin: 1em 0 0 0;
	}
}

nav.category-nav {
	margin: .5em auto 2em auto;

	& ul {
		flex-wrap: wrap;
		margin: 0 auto;

		@media(--phone) {
			flex-wrap: nowrap;
		}

		& li {
			display: flex;
			align-items: center;
			width: 50%;
			text-align: center;

			@media(--phone) {
				width: auto;
				text-align: left;
			}

			& a {
				color: var(--BrownLight);
				display: block;
				width: 100%;
				line-height: 1.2;

				@media(--phone) {
					display: inline-block;
					width: auto;
				}

				&:hover,
				&:focus {
					color: var(--Brown)
				}
			}

			&::after {
				content: '•';
				display: none;
				color: black;
				font-size: 1.75em;
				margin-top: -3px;

				@media(--phone) {
					display: inline-block;
				}
			}

			&:last-child::after {
				display: none;
			}
		}
	}
}

/*----------------------------------------------------------------*\
	SEARCH RESULTS
\*----------------------------------------------------------------*/
body.search-results,
body.search-no-results {
	& main>article>section.intro p {
		color: var(--Grey);
	}

	& section.call-to-actions {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;

		&>div {
			width: 95%;

			@media(--tablet) {
				width: 45%;
			}

			& ul {
				padding: 0;

				& li:before {
					display: none;
				}
			}
		}
	}
}

/*----------------------------------------------------------------*\
	LEGISLATION
\*----------------------------------------------------------------*/
body.post-type-archive-legislation,
body.tax-state {
	& section.feed>h2:first-child {
		margin: 0 0 .25em 0;
	}

	& section.infinite-scroll {
		margin-top: 0;
	}

	& .current-wrap {
		width: 95%;
		margin-bottom: 2em;
	}

	& .upcoming-post {

		& h2 {
			margin: 1em 0 0.25em 0;
		}

		& .state-select {
			text-align: center;

			& label {
				font-size: 20px;
				padding-right: 1em;

				&:before {
					display: none;
				}
			}

			& select {
				width: auto;
			}
		}

		& article.preview-legislation {
			margin-bottom: 0;
		}

		& .state-sidebar {
			position: relative;
			margin: 0 auto;
			padding: 1em;
			width: 100%;
			box-shadow: 0 0 24px 0 rgba(27, 23, 31, 0.35);

			& h3 {
				margin-top: .5em;
				text-align: center;
			}

			& ul {
				column-count: 2;

				@media(--laptop) {
					column-count: 4;
				}
			}
		}
	}
}