/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE WORDPRESS 404 TEMPLATE

\*----------------------------------------------------------------*/

body.error404 {
	background-image: url(../images/mountain-background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-attachment: fixed;

	@media(--tablet) {
		background-position: center bottom -100px;
	}

	& header.page-title h1 {
		text-align: center;
		width: 100%;
		color: var(--White);
		margin: 0 0 100px 0;
		text-shadow: 0px 0px 10px var(--GreyDark);
	}

	& article.paper-container {
		width: 90vw;
		max-width: 800px;
		background-color: var(--White);
		padding: var(--LargeSpacing);
		box-shadow: 0 10px 16px 0 rgba(27, 23, 31, 0.5);
		position: relative;

		&>svg:first-child,
		&>img:first-child {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			width: 80px;
			height: 80px;

			@media(--phone) {
				width: 150px;
				height: 150px;
			}
		}

		& h2 {
			font-size: 35px;
		}
	}
}