/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE FORMS TEMPLATE

\*----------------------------------------------------------------*/

body.page-template-forms {
  background-image: url(../images/mountain-background.jpg);
  background-attachment: fixed;
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;

  @media(--tablet) {
    background-position: center bottom -100px;
  }

  & header.page-title h1 {
    margin: 0 0 100px 0;
    width: 100%;
    color: var(--White);
    text-align: center;
    text-shadow: 0 0 10px var(--GreyDark);
  }

  & article.paper-container {
    position: relative;
    padding: var(--Spacing);
    max-width: 800px;
    width: 90vw;
    background-color: var(--White);
    box-shadow: 0 10px 16px 0 rgba(27, 23, 31, 0.5);

    @media(--phone) {
      padding: var(--LargeSpacing);
    }

    & > svg:first-child,
    & > img:first-child {
      position: absolute;
      top: 0;
      left: 50%;
      width: 80px;
      height: 80px;
      transform: translateX(-50%) translateY(-50%);

      @media(--phone) {
        width: 150px;
        height: 150px;
      }
    }

    & h2 {
      font-size: 28px;

      @media(--phone) {
        font-size: 35px;
      }
    }

    & form {
      margin: 2em auto;
    }
  }
}

/*----------------------------------------------------------------*\
	2 COLUMN FORMS
\*----------------------------------------------------------------*/
body.page-template-forms-2-column {
  background-image: url(../images/mountain-background.jpg);
  background-attachment: fixed;
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;

  @media(--tablet) {
    background-position: center bottom -100px;
  }

  & header.page-title h1 {
    margin: 0 0 40px 0;
    width: 100%;
    color: var(--White);
    text-align: center;
    text-shadow: 0 0 10px var(--GreyDark);
  }

  & article.paper-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: var(--Spacing);
    max-width: 1200px;
    width: 90vw;
    background-color: var(--White);
    box-shadow: 0 10px 16px 0 rgba(27, 23, 31, 0.5);

    @media(--phone) {
      padding: var(--LargeSpacing);
    }

    & section {
      width: 100%;

      @media(--tablet) {
        width: 45%;
      }

      & > svg:first-child,
      & > img:first-child {
        display: block;
        margin: 0 auto;
        width: 80px;
        height: 80px;

        @media(--phone) {
          width: 110px;
          height: 110px;
        }
      }

      & h2 {
        font-size: 35px;

        &:first-child {
          margin-top: 0;
        }
      }

      & form {
        margin: 0 auto;
      }
    }
  }

  & form {
    & #field_4_6 {
      & ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-left: 1em;

        & li {
          margin-bottom: 12px;
          width: 49%;

          & input {
            display: none;
          }

          & label {
            width: 100%;
            border: 1px solid var(--Grey);
            border-radius: 4px;
            text-align: center;
          }

          & input:checked + label {
            border-color: var(--Brown);
            background-color: var(--Brown);
            color: var(--White);
          }
        }
      }
    }

    & #field_4_7 {
      padding-left: 1em;
    }

    & #field_4_3 li label {
      font-size: 16px;
    }

    & h4 {
      position: relative;
      margin: 1em 0 0 0;

      &::before {
        position: absolute;
        top: 5px;
        right: 50px;
        display: block;
        width: 18px;
        height: 18px;
        background-image: url(../images//lock.svg);
        background-size: contain;
        background-repeat: no-repeat;
        content: '';
      }

      &::after {
        position: absolute;
        top: 4px;
        right: 0;
        display: block;
        color: var(--Grey);
        content: 'Secure';
        font-size: 0.75em;
      }
    }

    & p.legal {
      font-size: 12px;
    }
  }
}

#input_4_4 {
  &::after {
    display: block;
    clear: both;
    content: '';
  }

  & li {
    position: relative;
    margin-bottom: 18px;
    min-height: 100px;
    width: 100%;

    @media(--phone) {
      margin-bottom: 0;
      width: 50%;
    }

    & input {
      opacity: 0;

      &:checked + label {
        box-shadow: 0 10px 30px var(--Grey);
      }
    }

    & label {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
      margin: 0 auto;
      border: 3px solid transparent;
      border-radius: 10px;
      background-color: var(--Moss);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      text-indent: -100000px;
      cursor: pointer;
    }

    &.gchoice_4_4_0 label {
      background-image: url(../images/cc.PNG);
    }

    &.gchoice_4_4_1 label {
      background-image: url(../images/pp.PNG);
    }
  }
}
