/*----------------------------------------------------------------*\

	STYLES FOR THE DEFAULT TEMPLATE

\*----------------------------------------------------------------*/

#president-note {
	position: relative;

	&::after {
		content: "";
		display: block;
		width: calc(100% + 20px);
		height: 830px;
		background-color: var(--White);
		background-image: url(../images/Signature.png);
		background-position: center bottom .5em;
		background-repeat: no-repeat;
		background-size: 300px;
		position: absolute;
		top: -30px;
		left: -10px;
		z-index: -1;
		box-shadow: 0px 30px 90px var(--Grey);

		@media(--phone) {
			height: 740px;
			width: calc(100% + 60px);
			left: -30px;
		}

		@media(--phonewide) {
			height: 600px;
		}

		@media(--tablet) {
			height: 535px;
		}
	}
}

/*----------------------------------------------------------------*\
	IMAGE MAP
\*----------------------------------------------------------------*/
.image-map {
	position: relative;
	max-width: 1024px;
	margin: 0 auto;


	& a {
		position: absolute;
		display: block;
		opacity: 0;

		&:first-of-type {
			display: block;
			width: 16%;
			height: 27%;
			top: 18%;
			left: 18%;
		}

		&:nth-of-type(2) {
			display: block;
			width: 10%;
			height: 57%;
			top: 18%;
			left: 8%;
		}

		&:nth-of-type(3) {
			display: block;
			width: 11%;
			height: 30%;
			top: 45%;
			left: 18%;
		}


		&:last-of-type {
			width: 19%;
			height: 21%;
			top: 18%;
			left: 42%;
		}
	}
}