/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE WORDPRESS SINGLE POST TYPE TEMPLATES

\*----------------------------------------------------------------*/
.single-post {
	& header+figure {
		width: 90vw;
		max-width: 1500px;
		margin: 4em auto 0 auto;

		& img {
			width: 100%;
			height: auto;
		}
	}

	& #comments {
		padding: 0;
		width: 90vw;
		max-width: var(--Width);
		margin: 0 auto;

		& #wpcomm form {
			max-width: 100%;
		}

		& #wpcomm label:before {
			display: none;
		}

		& #wpcomm .wc-field-textarea .wpdiscuz-textarea-wrap {
			height: 80px;
		}

		& #wpcomm .wc-field-textarea textarea {
			height: 77px;
		}

		& #wpcomm .avatar {
			box-shadow: none;
		}

		& #wpcomm .wc-comment-header {
			margin-bottom: 0;
		}
	}
}