/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE LEGISLATION POST TYPE TEMPLATES

\*----------------------------------------------------------------*/
.single-legislation {
	background-image: url(../images/mountain-background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-attachment: fixed;

	@media(--tablet) {
		background-position: center bottom -100px;
	}

	& header.page-title h1 {
		text-align: center;
		width: 100%;
		color: var(--White);
		margin: 0 0 100px 0;
		text-shadow: 0px 0px 10px var(--GreyDark);
	}

	& article {
		width: 90vw;
		max-width: 800px;
		background-color: var(--White);
		padding: var(--Spacing);
		box-shadow: 0 10px 16px 0 rgba(27, 23, 31, .5);
		position: relative;

		@media(--phone) {
			padding: var(--LargeSpacing);
		}
	}
}