/*----------------------------------------------------------------*\
		NAVIGATION
\*----------------------------------------------------------------*/

nav {
	position: relative;
	z-index: 1000;

	& ul {
		padding: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;

		& li {
			list-style: none;
			margin-bottom: 0;
			padding-left: 0;

			&:before {
				display: none;
			}

			& a {
				display: block;
				padding: .5em 1em;
				font-family: RobotoCondensed Bold;
				font-size: 16px;
				letter-spacing: 1px;
				text-transform: uppercase;
				text-decoration: none;
				color: var(--GreyLight);
				transition: all .35s linear;

				&:hover,
				&:focus {
					color: var(--BrownLight);
				}

				&:active {
					color: var(--BrownLight);
				}
			}

			&.active a {
				color: var(--BrownLight);
			}
		}
	}
}

/*----------------------------------------------------------------*\
		MOBILE
\*----------------------------------------------------------------*/
nav.primary-nav-mobile {
	position: fixed;
	top: 50px;
	left: 1em;
	right: 1em;
	height: 60px;
	padding: 0 1em;
	background-color: var(--GreyDark);
	display: flex;
	justify-content: space-between;
	align-items: center;

	&>button {
		border: none;
		background-color: transparent;
		padding: 0;
		margin: 0;

		& svg {
			fill: var(--Sand);
			height: 30px;
			width: 30px;
		}
	}

	& img {
		height: 125px;
		width: auto;
	}

	& .menu-items-container {
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		max-width: 500px;
		max-height: 100%;
		padding: 25% 2em 2em 2em;
		background: rgba(74, 74, 74, .85);
		overflow: hidden;
		transform: translateX(100%);
		transition: all .35s linear;

		@media(--tablet) {
			padding: 15% 2em 2em 2em;
		}

		&.is-active {
			transform: translateX(0);
		}

		& button {
			padding: 0;
			border: none;
			background-color: transparent;
			position: absolute;
			top: 0;
			right: 0;

			& svg {
				fill: var(--Sand);
				width: 30px;
				height: 30px;
			}
		}

		& ul {
			display: block;
			margin: 0;
			text-align: center;

			& .menu-donate a {
				margin: .65em 0 0 0 !important;
			}
		}
	}

	& .search-form {
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		max-width: 500px;
		max-height: 100%;
		padding: 2em;
		background: rgba(202, 160, 124, .85);
		overflow: hidden;
		transform: translateX(100%);
		transition: all .35s linear;

		&.is-active {
			transform: translateX(0);
		}

		& button {
			padding: 0;
			border: none;
			background-color: transparent;
			position: absolute;
			top: 0;
			right: 0;

			& svg {
				fill: var(--GreyDark);
				width: 30px;
				height: 30px;
			}
		}

		& form {
			margin: 100px 0 0 0;
			position: relative;

			& label {
				padding: 0;

				&::before {
					display: none;
				}
			}

			& input {
				padding: 10px;
			}

			& button {
				top: 40px;
				right: 10px;

				& svg {
					width: 20px;
					height: 20px;
					fill: var(--Black);
				}
			}
		}
	}

}

/*----------------------------------------------------------------*\
		PRIMARY NAVIGATION
\*----------------------------------------------------------------*/

nav.primary-nav {
	width: 90vw;
	max-width: 1200px;
	padding: 4px 1em;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	background-color: var(--GreyDark);
	position: fixed;
	z-index: 10000;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	transition: all .5s ease-in-out;

	&>div {
		display: flex;
		align-items: center;
	}

	& ul {
		margin: 0;
	}

	& img {
		transform: scale(2.2);
		max-width: 85px;
		display: block;
		transition: all .5s ease-in-out;
	}

	& button {
		background: transparent;
		border: none;
		padding: 0 1em;
		margin: 0;
		position: relative;
		top: 2px;

		& svg {
			width: 20px;
			height: 20px;
			fill: var(--GreyLight);
		}

		& #open {
			display: block;
		}

		& #close {
			display: none;
		}

		&.is-active {
			& #open {
				display: none;
			}

			& #close {
				display: block;
			}
		}

		&:hover,
		&:focus {
			& svg {
				fill: var(--BrownLight);
				transition: all .35s linear;
			}
		}
	}

	&.is-minimal {
		top: 20px;

		& img {
			transform: scale(1);
		}
	}

	& .search-form {
		position: absolute;
		top: 100%;
		right: 0;
		width: 350px;
		background-color: var(--BrownLight);
		padding: 0 14px 0 14px;
		overflow: hidden;
		max-height: 0;
		transition: all .5s linear;

		&.is-active {
			max-height: 200px;
			padding: 6px 14px 14px 14px;
		}

		& form {
			margin: 0;

			& label {
				padding: 0;

				&::before {
					display: none;
				}
			}

			& input {
				padding: 10px;
			}

			& button {
				position: absolute;
				right: 10px;
				top: 45px;

				& svg {
					width: 20px;
					height: 20px;
					fill: var(--Black);
				}

				&:hover,
				&:focus {
					& svg {
						fill: var(--GreyDark);
					}
				}
			}
		}
	}
}

/*----------------------------------------------------------------*\
		BREADCRUMBS
\*----------------------------------------------------------------*/
nav.breadcrumbs {
	max-width: var(--Width);
	width: 90vw;
	margin: var(--SmallSpacing) auto;
}