/*----------------------------------------------------------------*\
	PREVIEW BLOG
\*----------------------------------------------------------------*/
article.preview-blog {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	margin: 0 0 4em 0;
	width: 95%;

	@media(--phone) {
		width: 45%;
	}

	&>a {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	& figure {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 0 1em 0;
		width: 100%;
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;

		& img {
			width: 100%;
			height: auto;
			box-shadow: 0 30px 90px var(--Grey);
		}
	}

	&>div {
		padding: 0;
		width: 100%;

		& p {
			font-size: 16px;
		}

		& p:first-child {
			margin: 0;
			color: var(--Brown);
			font-family: 'RobotoSlab Bold';
		}

		& h2 {
			margin: 0 0 0.25em 0;
		}

		& .button {
			margin: 0;
		}
	}

	&:hover,
	&:focus {
		& .button {
			border-color: var(--Brown);
			background-color: var(--Brown);
			color: var(--White);
		}
	}
}


/*----------------------------------------------------------------*\
	PREVIEW BLOG FEATURED
\*----------------------------------------------------------------*/
section.featured-post article {
	margin: 0;
	width: 100%;

	& figure {
		margin: 0;
		padding: var(--Spacing);
		width: 100%;
		background-image: url(../images/bg-paws.png);

		@media(--tablet) {
			padding: var(--Spacing) var(--LargeSpacing);
			min-height: 600px;
			width: 45%;
		}
	}

	&>div {
		padding: 0 var(--SmallSpacing);
		width: 100%;

		@media(--tablet) {
			width: 45%;
		}
	}
}

/*----------------------------------------------------------------*\
	PREVIEW GALLERIES
\*----------------------------------------------------------------*/
article.preview-galleries {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 0 0 4em 0;
	min-height: 350px;
	width: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 0 30px 90px var(--Grey);

	@media(--tablet) {
		width: 45%;
	}

	&>a {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	&::before {
		position: absolute;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: block;
		background-color: var(--GreyDark);
		content: '';
		opacity: 0;
		transition: all 0.35s ease-in-out;
	}

	&>div {
		position: relative;
		top: 1em;
		z-index: 2;
		text-align: center;
		opacity: 0;
		transition: all 0.45s ease-in-out;

		& h2 {
			margin: 0;
			color: var(--White);
		}

		& p {
			margin-bottom: 0;
			color: var(--White);
		}
	}

	&:hover,
	&:focus {
		&::before {
			opacity: 0.5;
		}

		&>div {
			top: 0;
			opacity: 1;
		}
	}
}

/*----------------------------------------------------------------*\
	PREVIEW SEARCH RESULTS
\*----------------------------------------------------------------*/
article.preview-search {
	position: relative;
	margin: 0 0 4em 0;

	&>a {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	& h2 {
		margin: 0;
		transition: all 0.15s linear;
	}

	& p {
		margin: 0.5em 0 0 0;

		&.category {
			margin: 0;
			text-transform: capitalize;
		}

		& span.search-term {
			color: var(--Moss);
			font-weight: bold;
			font-style: italic;
		}
	}

	&:hover,
	&:focus {
		& h2 {
			color: var(--Brown);
		}
	}
}

/*----------------------------------------------------------------*\
	PREVIEW LEGISLATION
\*----------------------------------------------------------------*/
article.preview-legislation {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
	margin: 0 0 100px 0;

	& .content {
		width: 95%;

		&>a {
			font-size: 40px;
			font-family: 'RobotoCondensed Bold';
			color: var(--Black);
			text-decoration: none;
			text-transform: uppercase;
		}

		& p.status {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			font-size: 30px;
			font-family: 'RobotoCondensed Bold';
			text-transform: uppercase;
		}

		& svg {
			width: 30px;
			height: 30px;
			margin-right: .5em;
		}

		& p.date {
			margin: 0 0 0.5em 0;
			color: var(--Brown);
			text-transform: uppercase;
			font-weight: normal;
			font-size: 30px;
			font-family: 'RobotoCondensed Bold';
		}

		@media(--tablet) {
			margin: 1em 0 0.5em 0;
		}

		& h2.title {
			margin: 0 0 0.35em 0;
			text-transform: none;
			font-weight: 400;
			font-size: 1em;
			font-family: RobotoSlab Bold;
		}
	}
}