/*----------------------------------------------------------------*\
	SHARE
\*----------------------------------------------------------------*/

section.social-share {
  position: sticky;
  top: 30vh;
  left: 50%;
  z-index: 1;
  float: left;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: all 0.35s ease-in-out;
  transform: translateX(-575px);

  &.is-active {
    opacity: 1;
  }

  & a {
    text-decoration: none;

    & svg {
      display: block;
      margin: 0 0 18px 0;
      width: 24px;
      height: 24px;
      transition: all 0.35s linear;

      fill: var(--Grey);
    }

    &:hover svg,
    &:focus svg {
      fill: var(--Black);
    }
  }
}
